<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>Estudo</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>listaCidadeServlet</servlet-name>
		<servlet-class>br.com.webjsp.servlets.ajax.ListaCidadesServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>pesquisarLotesServlet</servlet-name>
		<servlet-class>br.com.webjsp.servlets.ajax.PesquisarLotesServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>manterClientesServlet</servlet-name>
		<servlet-class>br.com.webjsp.servlets.ajax.ManterClientesServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>manterUsuarioServlet</servlet-name>
		<servlet-class>br.com.webjsp.servlets.ajax.ManterUsuarioServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RetornaImagemServlet</servlet-name>
		<servlet-class>br.com.webjsp.servlets.ajax.RetornaImagemServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ManterClassificacaoServlet</servlet-name>
		<servlet-class>br.com.webjsp.servlets.ajax.ManterClassificacaoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>listaCidadeServlet</servlet-name>
		<url-pattern>/ListaCidadesServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>pesquisarLotesServlet</servlet-name>
		<url-pattern>/PesquisarLotesServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>manterClientesServlet</servlet-name>
		<url-pattern>/ManterClientesServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>manterUsuarioServlet</servlet-name>
		<url-pattern>/ManterUsuarioServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RetornaImagemServlet</servlet-name>
		<url-pattern>/RetornaImagemServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ManterClassificacaoServlet</servlet-name>
		<url-pattern>/ManterClassificacaoServlet</url-pattern>
	</servlet-mapping>
</web-app>